<div>
    <h2 data-bind="text: title"></h2>
    <div>Clicks: <span data-bind="text: counter"></span></div>
    <button class="primary action" data-bind="click: count">Click</button>
</div>
<!-- ko foreach: getRegion('foo') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->