<?php

?>
<script type="text/x-magento-init">
  {
      "*": {
          "Magento_Ui/js/core/app": {
              "components": {
                  "visitor-country": {
                      "component": "StudioModerna_VisitorCountry/js/visitor-country"
                  }
              }
          }
      }
  }
</script>
<div data-bind="scope: 'visitor-country'">
    <div data-bind="if: hasCountry">
        <div data-bind="text: country"></div>
    </div>
</div>