<?php

/** @var \Magento\Framework\View\Element\Template $block */

/** @var \StudioModerna\Content\Block\Articles $viewModel */
$viewModel = $block->getData('view_model');

?>

<ul>
    <?php foreach ($viewModel->getArticles() as $article): ?>
        <li><?= $block->escapeHtml($article->getTitle()) ?></li>
    <?php endforeach; ?>
</ul>


