<?php declare(strict_types=1);
/** @var \Magento\Framework\View\Element\Template $block */

/** @var \StudioModerna\OrderInfo\Block\OrderInfoView $viewModel */
$viewModel = $block->getData('view_model');

?>

<div>
    <table>
        <thead>
            <tr>
                <th><?= __('ID') ?></th>
                <th><?= __('Status') ?></th>
                <th><?= __('Total') ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?= $viewModel->getOrderId() ?></td>
                <td><?= $viewModel->getOrderStatus() ?></td>
                <td><?= $viewModel->getOrderTotal() ?></td>
            </tr>
        </tbody>
    </table>
</div>